<%= form_for @bunner, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :avatar, :class => 'control-label' %>
    <div class="controls">
      <%= image_tag(@bunner.avatar_url) if @bunner.avatar? %>
      <%= f.file_field :avatar, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                bunners_path, :class => 'btn' %>
  </div>
<% end %>
